.tab {
  text-align: right;
  background-color: rgb(99, 112, 129);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999999;
  overflow-y: hidden;
  height: 40rem;
  border-radius: 35px 35px 0 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  color: rgb(242, 244, 255);
}

.error {
  color: brown;
}

.errorVar {
  color: rgb(235, 74, 74);
}

.slideAnim {
  animation: slide 0.3s;
}

.slideAnimRev {
  animation: slideRev 0.3s;
}

.x {
  margin: 1rem;
  cursor: pointer;
}

.searchBar {
  text-align: center;
  font-size: 1.2rem;
}

.searchBar h1 {
  margin: 0 0 1rem 0;
}

.bar {
  display: inline-block;
  font-family: "Heebo";
  font-size: 1rem;
  font-weight: 600;
  resize: none;
  vertical-align: middle;
  width: 80%;
  height: 2rem;
  padding-right: 2.5rem;
  border-radius: 20px;
  background-color: rgb(242, 244, 255);
  color: rgb(99, 112, 129);
}

.iconSearch {
  display: inline-block;
  position: absolute;
  text-align: right;
  color: rgb(99, 112, 129);
  right: 10%;
  margin: 0.25rem 0.5rem;
}

.header {
  text-align: right;
  padding-right: 0.5rem;
  font-size: 1.4rem;
  margin: 0 !important;
  color: rgb(150, 197, 247);
  font-weight: 900;
}

.paragraph {
  text-align: right;
  margin: 0.4rem;
  padding-right: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(169, 211, 255);
}
@keyframes slide {
  from {
    bottom: -40rem;
  }
  to {
    bottom: 0;
  }
}

@keyframes slideRev {
  from {
    bottom: 0;
  }
  to {
    bottom: -40rem;
  }
}

@media (orientation: landscape) {
  .tab {
    width: 50%;
    height: 35rem;
    right: 0;
    border-radius: 20px 0;
  }

  .x {
    transition: all 0.2s;
    margin: 2rem 2rem 0 0;
  }

  .x:hover {
    color: white;
  }

  .searchBar {
    text-align: center;
    font-size: 1.2rem;
  }

  .bar {
    font-size: 1.35rem;
    font-weight: 600;
    resize: none;
    width: 60%;
    height: 2.5rem;
    padding-right: 2.5rem;
    overflow: hidden;
  }

  .iconSearch {
    transition: all 0.2s;
    cursor: pointer;
    right: 20%;
    margin: 0.5rem 0.75rem;
  }

  .iconSearch:hover {
    color: rgb(127, 135, 146);
  }

  .header {
    font-size: 1.6rem;
  }

  .paragraph {
    text-align: right;
    margin: 0.4rem;
    padding-right: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(169, 211, 255);
  }
}
